# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.Secured_PW.iml
# Datasource local storage ignored files
/../../../../../../:\Fork_Projects\Secured_PW\.idea\.idea.Secured_PW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
